* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: normal;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: white;
	font-family: inherit;
}

ul {
	list-style-type: none;
	padding: 10px;
}

li {
	display: inline;
	padding-right: 30px;
	color: white;
}

p {
	font-size: 16px;
}

body {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#landingheader {
	background-color: #ccc;
	color: white;
	font-size: 18px;
	box-shadow: 0px 0px 10px #ccc;
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 20px;
	transition: height 1s;
	overflow: hidden;
}

#landingheader:hover {

	height: 100px;
}

#signin {
	padding-right: 10px;
	float: right;
}

#signin p {
	font-size: 18px;
	padding-bottom: 10px;
	text-align: right;
}

#dosignin {
	margin-left: 5px;
}

#register {
	margin-left: 5px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

#search {
	margin-top: 150px;
	font-size: 36px;
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#search h1 {
	width: 360px;
}

#search input {
	width: 500px;
}

.wordstripe .one, .one {
	color: #8bc9f4;
}

.wordstripe .two, .two {
	color: #ffbb78;
}

#landingfooter {
	margin-top: 150px;
	background-color: #ccc;
	color: white;
	height: 150px;
	font-family: serif;
	box-shadow: 0px 0px 10px #ccc;
}

#quote {
	border-right: 2px dotted white;
	padding: 20px;
	font-style: italic;
	font-size: 12px;
	float: left;
	width: 350px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	font-family: inherit;
}

#actions {
	margin-left: 30px;
	font-style: italic;
	width: 200px;
	float: left;
	font-family: inherit;
}

#actions li {
	display: block;
	font-family: inherit;
	margin-bottom: 6px;
}

#users {
	margin-left: 30px;
	font-style: italic;
	width: 200px;
	float: left;
	font-family: inherit;
}

#users li {
	display: block;
	font-family: inherit;
	margin-bottom: 6px;
}

input {
	height: 36px;
	padding: 5px;
}

.button {
	background-color: #8bc9f4;
	height: 25px;
	border-radius: 5px;
	color: white;
	font-size: 18px;
	padding: 8px 10px;
	display: inline;
}

.button:hover {
	cursor:pointer;
}

#instanthelp {
	background-color: #8bc9f4;
}

#dosearch {
	background-color: #ffbb78;
	margin-left: 10px;
}

#slogan {
	margin-top: 20px;
	width: 310px;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
	font-size: 18px;
}

#copyright {
	clear: left;
	float: right;
	font-size: 10px;
}

#comingsoon {
	background-color: black;
	color: white;
	font-size: 36px;
	padding-top: 200px;
	padding-bottom: 200px;
}

#comingsoon form {
	width: 550px;
	margin-left: auto;
	margin-right: auto;				
}

#comingsoon h1 {
	width: 450px;
}

#comingsoon p {
	margin-top: 20px;
	width: 350px;
}

#searchresults {
	display:inline;
	width: 60%
}

#searchresults ul {
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

#searchresults a {
	color: black;
	font-weight: bold;
	color: #5e7de6;
}

#searchresults li {
	display: block;
	padding-bottom: 25px;
	padding-top: 25px;
	padding-left: 10px;
	color: black;
	clear: left;
	border-bottom: 1px solid black;
}

#searchresults li:hover {
	background: #CCCCFF;
	cursor: pointer;
}

#searchresults li.header {
	text-align: right;
}

#searchresults li.header:hover {
	background: white;
	cursor: arrow;
}

#searchresults li p {
	padding-bottom: 8px;
}

.stats {
	float: left;
	padding-right: 20px;
	text-align: center;
}

.comments {
	background-color: #8bc9f4;
}

.answers {
	background-color: #ffbb78;
}

.stats .count  {
	display: block;
	font-size: 24px;
}

#menu {
	float: left;
	width: 30%;
}

#menu li {
	color: black;
}

.menuitem li.first {
	font-weight: bold;
	text-align: left;
	padding-bottom: 5px;
}

.menuitem li {
	display: block;
}

#menu a {
	color: #8bc9f4;
}

#menu a:hover {
	font-weight: bold;
}

#main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color: black;
}

#question {
	float: left;
	width: 60%
}

.rating {
	float:left;
	width: 20px;
	font-size: 32px;
	padding-right: 10px;
}

.uparrow {
	text-rotate: 180;
}

.description {
	padding: 10px;
}

#answers {
	border-top: 1px solid black;
}

#answers li {
	color: inherit;
	display: block;
}